.bins {
  border-right: 3px solid var(--primary-color);
}

.bins__search {
  padding: 10px 16px;
  background-color: var(--secondary-color);
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bins__search input[type=text] {
  width: 80%;
}

.bins__container {
  height: calc(100% - 82px - 44px);
}

.bins__loading {
  padding: 16px;
}

.bin {
  padding: 16px;
  color: var(--secondary-color);
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bin:hover,
.bin.active {
  color: white;
  background-color: var(--primary-color);
}

.bin__remove {
  display: flex;
  align-items: center;
  justify-content: center;
}
