.Bins-Container {
  flex: 0 0 16em;
  border-right: 3px solid var(--main-red);
}

.bins-search {
  padding: 10px 16px;
  background-color: var(--main-dark);
  border-bottom: 3px solid var(--main-red);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bins-search input {
  color: var(--main-red);
  background-color: var(--main-dark);
  font-size: 16px;
  font-weight: bold;
  width: 80%;
  display: block;
  border: none;
  caret-color: var(--main-red);
}

.bins-search input:focus {
  outline: none;
}

.loading {
  padding: 16px;
}

.bin {
  height: 40px;
  padding: 8px 16px;
  color: var(--main-dark);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bin:hover,
.bin.active {
  color: white;
  background-color: var(--main-red);
}

.remove-bin {
  display: flex;
  align-items: center;
  justify-content: center;
}
