.console {
  background-color: var(--primary-color);
}

.console__header {
  padding: 10px 16px;
  font-weight: bold;
  color: white;
  background-color: var(--primary-color);
  border-bottom: 3px solid var(--secondary-color);
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
}

.console__log {
  padding: 16px;
  font-size: 16px;
  font-family: monospace;
}

.log { color: white; }

.log.error { color: var(--secondary-color); }
