.library-container {
  background-color: var(--primary-color);
  border-left: 3px solid var(--secondary-color);
}

.libraries__header {
  padding: 10px 16px;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.libraries__selected {
  padding: 8px 16px;
}

.library {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.library a {
  color: var(--secondary-color);
  font-weight: bold;
}

.libraries__add {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.libraries__add input[type=text] {
  width: 80%;
  padding: 4px 0;
}

.libraries__autocompleted-suggestions {
  padding: 0 16px;
  background-color: var(--primary-color);
}

.libraries__autocompleted-suggestions p {
  margin: 8px 0;
  color: white;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
