.App {
  height: 100vh;
  display: grid;
  grid-template-areas: "header header header header" "bins selection console libraries";
  grid-template-columns: 0.75fr 2fr 0.75fr auto;
  grid-template-rows: 80px 1fr;
}

@media (max-width: 800px) {
  .App {
    grid-template-areas: "header header" "bins bins" "selection selection" "console libraries";
    grid-template-columns: auto auto;
    grid-template-rows: 80px 1fr 1fr 1fr;
    height: calc(300% + 80px);
  }

  .bins,
  .selection-header,
  .selection-editor {
    border-right: none;
  }
}

header { grid-area: header; }

.bins { grid-area: bins; }

.selection { grid-area: selection; }

.console { grid-area: console; }

.libraries { grid-area: libraries; }

.clickable {
  cursor: pointer;
  font-weight: bold;
}

.clickable:hover {
  color: var(--main-red);
}

.feather:hover {
  cursor: pointer;
}

