.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex: 1;
}

::-webkit-input-placeholder { color: white; }

.clickable {
  cursor: pointer;
  font-weight: bold;
}

.clickable:hover { color: var(--main-red); }

.clickable:hover .feather { stroke: var(--main-red); }

.textbox {
  padding: 4px 8px;
  color: var(--main-red);
  background-color: var(--main-dark);
  border: 3px solid white;
  font-size: 16px;
}

.textbox:focus { outline: none; }

.invisible { visibility: hidden; }
