/* Textbox */

.textbox {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: bold;
  border: none;
  caret-color: var(--secondary-color);
}

.textbox:focus { outline: none; }

.textbox::-webkit-input-placeholder { color: white; }

/* Popup */

.popup {
  width: max-content;
  position: absolute;
  margin-left: -40px;
  margin-top: -42px;
  color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.3rem 0.6rem;
  text-align: center;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-color);
  visibility: hidden;
  opacity: 0;
}

.popup::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--secondary-color) transparent transparent transparent;
}

.popup.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s ease;
}
