.navigation-bar {
  background-color: var(--primary-color);
  padding: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-bar__title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.navigation-bar__title img {
  margin-left: 16px;
}

.navigation-bar__colors a {
  margin-left: 4px;
  color: white;
}
