.Navigation-Container {
  background-color: var(--secondary-color);
  padding: 16px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navigation-Container-title {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}

.Navigation-Container-title img {
  margin-left: 16px;
}

.add-bin {
  display: flex;
  align-items: center;
}

.add-bin .clickable {
  margin-left: 8px;
}
