@import url("https://fonts.googleapis.com/css?family=Roboto");
@import "./assets/controls.css";

:root {
  --primary-color: #262A34;
  --secondary-color: #38529F;
  --main-red: #F65554;
  --main-red-dark: #DD3C3B;
  --placeholder-light: #8C909A;
}

html {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}


